<style>
#heading{
  font-family: Raleway;
  text-align: center;
  font-size: 60px;
  color: #009CDE;
  position: absolute;
  width:80%;
  top:32%;
  left:15%;
}

p{
  font-family: Raleway;
  text-align: center;
  font-size: 12px;
  color: #837E7C;
}

</style>
<link href='https://fonts.googleapis.com/css?family=Raleway:400,500,300' rel='stylesheet' type='text/css'>
<img src="../PS.png" style="width:304px;height:314px;">
<p id="heading">Thank You For Being a Power Saver!</p>
